<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="home">
    <div class="navbar-top">
      <div class="dost-logo">
        <img class="image-3" src="image-30.png" />
      </div>
      <div class="dost">
        <div class="dost-sargen">DOST SARGEN</div>
      </div>
      <img class="line" src="line0.svg" />
      <div class="title">
        <div class="setup-projects-management-system">
          SETUP Projects Management System
          <br />
        </div>
      </div>
      <div class="setup-logo">
        <img class="image-4" src="image-40.png" />
      </div>
      <div class="search">
        <img class="frame-1" src="frame-10.svg" />
        <div class="frame-2">
          <div class="search-for-a-project">Search for a Project</div>
        </div>
      </div>
      <div class="more-options">
        <img class="bell" src="bell0.svg" />
        <div class="ellipse-2">
          <div class="ellipse-22"></div>
          <div class="ellipse-3"></div>
          <div class="ellipse-4"></div>
        </div>
      </div>
      <div class="user">
        <div class="ellipse-1"></div>
        <img class="user2" src="user1.svg" />
      </div>
    </div>
    <div class="body">
      <div class="navbar-left">
        <img class="dashboard" src="dashboard0.svg" />
        <img class="projects" src="projects0.svg" />
        <img class="funding" src="funding0.svg" />
        <img class="msme" src="msme0.svg" />
        <img class="reports" src="reports0.svg" />
        <img class="settings" src="settings0.svg" />
      </div>
      <div class="dashboard2">
        <div class="inner-border">
          <div class="header">
            <div class="title2">
              <div class="dashboard3">Dashboard</div>
            </div>
            <div class="buttons">
              <div class="frame-7">
                <img class="frame-9" src="frame-90.svg" />
                <div class="frame-10">
                  <div class="add-project">Add Project</div>
                </div>
              </div>
              <div class="frame-8">
                <div class="frame-11">
                  <div class="import-data">Import Data</div>
                </div>
              </div>
            </div>
          </div>
          <div class="body2">
            <div class="kpi-cards">
              <div class="total-projects">
                <div class="header2">
                  <div class="total-projects2">Total Projects</div>
                  <img class="forward" src="forward0.svg" />
                </div>
                <div class="number">
                  <div class="_5">5</div>
                </div>
              </div>
              <div class="active-projects">
                <div class="header2">
                  <div class="active-projects2">Active</div>
                  <img class="forward2" src="forward1.svg" />
                </div>
                <div class="number">
                  <div class="_52">5</div>
                </div>
              </div>
              <div class="completed">
                <div class="header2">
                  <div class="completed2">Completed</div>
                  <img class="forward3" src="forward2.svg" />
                </div>
                <div class="number">
                  <div class="_0">0</div>
                </div>
              </div>
              <div class="delayed">
                <div class="header2">
                  <div class="delayed2">Delayed</div>
                  <img class="forward4" src="forward3.svg" />
                </div>
                <div class="number">
                  <div class="_0">0</div>
                </div>
              </div>
              <div class="pending">
                <div class="header2">
                  <div class="pending2">Pending</div>
                  <img class="forward5" src="forward4.svg" />
                </div>
                <div class="number">
                  <div class="_0">0</div>
                </div>
              </div>
            </div>
            <div class="frame-13"></div>
            <div class="frame-14"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>